@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .font-handwriting {
    font-family: 'Architects Daughter', cursive;
  }

  .font-urbanist {
    font-family: 'Urbanist', sans-serif;
  }
}
/* 
* {
  outline: 1px solid red;
  overflow-x: visible;
} */

body {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

/* Custom styles for fundraisers */
@layer base {
  .font-gloria {
    font-family: var(--font-gloria);
  }

  .font-verdana {
    font-family: 'Verdana', sans-serif;
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-text: #000000;
  --color-background: #ffffff;
  color-scheme: light only;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--color-text);
  background: var(--color-background);
  font-family: Arial, Helvetica, sans-serif;
}
